.clearfix{
    clear: both;
}

.infoTitle{
    text-align: center;
}

.imgDiv{
    vertical-align: middle;
    text-align: center;
}

.btn{
    background-color: aliceblue;
    margin-left: 15px;
    padding: 5px;
}

#databottom{
    margin-top: 10px;
}

#card{
    background-color: #d9d9d9; 
    padding: 10px 20px;
    width: 120px;
}

.form-row{
    margin:0px;
    margin-top: 7px;
}


.ngx-pagination{
    margin-bottom: 0;
}